@model ProductCartShop.ViewModels.CartDetailsViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

@if (Model.Product == null)
{
    <div class="whiteBackground m-4">
        <div class="alert alert-warning mt-3" role="alert">
            No Menu Item in the list ...!
        </div>
    </div>
}
else
{
<div class="whiteBackground m-4">
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-md-6">
                    <i class="bi bi-cart-plus-fill"></i>&nbsp;Shopping Cart
                </div>

                <div class="col-md-6 mt-3 mt-md-0 text-right">
                    <a class="btn btn-outline-info btn-sm" href="@Url.Action("Index", "Home")">
                        Countinue Shopping
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                        <h4>@Model.Product.Name</h4>
                        <h6>@Model.Product.Description</h6>
                    </div>

                    <div class="col-12 text-sm-center col-lg-6 text-lg-right row">
                        <div class="col-4 text-md-right" style="padding-top:5px;">
                            <h6>
                                <strong>
                                    @Model.Product.Price
                                    <span class="text-muted">×</span>
                                    @Model.Count
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 col-sm-6 col-lg-6">
                            <div class="float-right mx-1">
                                <a href="@Url.Action("Plus", "Carts")" class="btn btn-primary">
                                    <i class="bi bi-plus-lg"></i>
                                </a>
                            </div>
                            <div class="float-right mx-1">
                                <a href="@Url.Action("Minus", "Carts")" class="btn btn-danger">
                                    <i class="bi bi-dash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="mt-3 mt-md-0 col-12 col-md-5 pr-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span class="text-info">
                                    Total (USD)
                                </span>
                                <strong class="text-info">
                                    $ <span>@Model.OrderTotal</span>
                                </strong>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-3 mt-md-0 col-12 col-md-5 pr-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span class="text-info">
                                    Total With Shipping Rate(USD)
                                </span>
                                <strong class="text-info">
                                    $ <span>@Model.TotalAndShippingRate</span>
                                </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                    <a href="@Url.Action("Continue", "Carts")" class="btn btn-success form-control">
                        Continue
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
}